@use "../../styles/mixins" as m;
@use "../../styles/constants" as c;

.wrap {
  @include m.flex(center, center, column);
  width: 100%;
  height: 100%;
  padding: 40px;

  > h1 {
    font-size: 42px;
    padding: 20px 0;

    > span {
      color: c.$C_PRIMARY;
    }
  }

  > .description {
    color: grey;
    white-space: pre-wrap;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.2px;
  }

  > button {
    width: 100px;
    padding: 12px;
    color: white;
    background-color: c.$C_PRIMARY;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    margin: 40px 0;
  }
}
